<!-- Navbar  -->
{% include 'header.html' %}

<div class="card shadow m-5" >
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Employee Login</h5>
    </div>
    <div  class="container-fluid">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Email ID</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email ID" required>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" name="pwd" class="form-control" placeholder="Enter password" required>
                    </div>
                </div>
            </div>
         
            <input type="submit" value="Login" class="btn btn-primary m-3 p-2">
            
        </form>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Logged in Successfully!!')
    window.location = ('{% url 'emp_home' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Invalid login credentials, Try again !!!')
</script>
{% endif %}