{% extends 'emp_base.html' %}


{% block main %}

<div class="card shadow m-2" >
    <div class="card-body">
        <a href="{% url 'edit_my_education' %}" class="float-end btn btn-primary btn-sm">Edit Education</a>
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">My Education</h5>
    </div>
    <div  class="container-fluid">
        <table class="table table-bordered">
             <!-- ==== POST GRADUATION DETAIL  ===== -->
            <tr>
                <th>Post Graduation Name</th>
                <td>{{education.coursepg}}</td>
            </tr>
            <tr>
                <th>Post Graduate School/college Name</th>
                <td>{{education.schoolclgpg}}</td>
            </tr>
            <tr>
                <th>Year Of Passing in PG</th>
                <td>{{education.yearofpassingpg}}</td>
            </tr>
            <tr>
                <th>Percentage in PG</th>
                <td>{{education.percentagepg}}</td>
            </tr>

            <!-- ==== GRADUATION DETAIL  ===== -->
            <tr>
                <th>Graduation Course Name</th>
                <td>{{education.coursegra}}</td>
            </tr>
            <tr>
                <th>Graduate School/college Name</th>
                <td>{{education.schoolclgra}}</td>
            </tr>
            <tr>
                <th>Year Of Passing in Graducation</th>
                <td>{{education.yearofpassinggra}}</td>
            </tr>
            <tr>
                <th>Percentage in Graducation</th>
                <td>{{education.percentagegra }}</td>
            </tr>

        <!-- ==== HSC DETAIL  ===== -->
            <tr>
                <th>HSC Course Name</th>
                <td>{{education.coursegrahsc}}</td>
            </tr>
            <tr>
                <th>HSC College Name</th>
                <td>{{education.schoolclhsc}}</td>
            </tr>
            <tr>
                <th>Year Of Passing in HSC</th>
                <td>{{education.yearofpassinghsc}}</td>
            </tr>
            <tr>
                <th>Percentage in HSC</th>
                <td>{{education.percentagehsc}}</td>
            </tr>
            <!-- SSC detail -->
            <tr>
                <th>SSC Course Name</th>
                <td>{{education.coursessc}}</td>
            </tr>
            <tr>
                <th>SSC College/School Name</th>
                <td>{{education.schoolclgssc}}</td>
            </tr>
            <tr>
                <th>Year of passing in SSC</th>
                <td>{{education.yearofpassingssc}}</td>
            </tr>
            <tr>
                <th>Percentage in SSC</th>
                <td>{{education.percentagessc}}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock main %}